/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* 
        #4b21ff blue
        #272727 black
        #fefefe white
        #a9a9a9 grey
        LightCoral: #F08080
        LightSteelBlue: #B0C4DE
*/

body{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    -ms-flex-line-pack: center;
        align-content: center;
}
.floating-section{
    height: 450px;
    background-color: #0f0f0f;
    width: 100%;
    margin: 20px 0px 20px 0px;
    -webkit-box-shadow: 5px 10px 15px #888888;
            box-shadow: 5px 10px 15px #888888;
}

#project1{
    background-image:  url(/assets/img/poke.jpg);
    background-size: cover;   
}
#project2{
    background-image:  url(/assets/img/cake.jpg);
    background-size: cover; 
}
#project3{
    background-image:  url(/assets/img/camp.jpg);
    background-size: cover; 
}

#project4{
    background-image:  url(/assets/img/tutor5.jpg);
    background-size: cover;  
}

.floating{
    color: white;
    background-color: rgb(45, 45, 45, 0.7);
    text-shadow: 2px 2px 10px #0f0f0f;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.floating p{
    font-size: 1.5em;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.floating h2{
    font-size: 2.2em;
    margin: 0;
    opacity: 1;
}

.floating button{
    background-color: rgb(45, 45, 45, 0.2);
    padding: 15px;
    border: 2px solid #0f0f0f;
}

.floating button:hover{
    background-color: rgb(45, 45, 45, 0.6);
}

.about{
    text-align: center;
    font-family: "Righteous", sans-serif;
}